{% extends "userconfig/base.html" %}
{% block content %}
    {% for config in configs %}
		<div class="card card-fluid" style="width: 30rem;">
			<h5 class="card-header">
				<a class="card-link" href=" {% url 'config-detail' config.id %}">{{config.team}} Configuration</a>
			</h5>
			<div class="card-body">
				<div class="form-row">
					<label> Platform </label>
					<input type="text" class="form-control" disabled value={{config.platform}}>
					<label> Slack Channel: </label>
					<input type="text" class="form-control" disabled value={{config.slack_channel}}>
					<label> Email Address: </label>
					<input type="text" class="form-control" disabled value={{config.email_address}}>
					<label> Crash Count Bar : </label>
					<input type="text" class="form-control" disabled value={{config.crash_count}}>
					<label> Total User Affected: </label>
					<input type="text" class="form-control" disabled value={{config.total_user}}>
					<label> Files to Monitor: </label>
					<input type="text" class="form-control" disabled value={{config.files}}>
					<label> Keywords to Check: </label>
					<input type="text" class="form-control" disabled value={{config.keywords}}>
				</div>
			</div>
				<div class="card-body">
					<a class="btn btn-primary" href="{% url 'config-update' config.id %}">Update</a>
					<a class="btn btn-primary" href="{% url 'config-delete' config.id %}">Delete</a>
				</div>
			</div>
		</div>
    {% endfor %}
{% endblock content %}