{%extends 'userconfig/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<button type="submit" class="btn btn-primary btn-block" style="width: 30rem;">Search Configuration</button>	
	<p></p>
	<div>
		<!-- <article class="media content-section"> -->
		<!-- <article class="form-group media content-section"> -->
		<div class="form-group content-section" style="width: 30rem;">
			<form method='GET'>
				{{ filter.form.as_p }}
			</form>	
		<!-- </article>	-->
		</div>
	</div>
	<div>
    {% for config in filter.qs %}
		<div class="card card-fluid" style="width: 30rem;">
			<h5 class="card-header">
				<a class="card-link" href=" {% url 'config-detail' config.id %}">{{config.team}} Configuration</a>
			</h5>
			<div class="card-body">
				<div class="form-row">
					<label> Platform </label>
					<input type="text" class="form-control" disabled value={{config.platform}}>
					<label> Slack Channel: </label>
					<input type="text" class="form-control" disabled value={{config.slack_channel}}>
					<label> Email Address: </label>
					<input type="text" class="form-control" disabled value={{config.email_address}}>
					<label> Crash Count Bar : </label>
					<input type="text" class="form-control" disabled value={{config.crash_count}}>
					<label> Total User Affected: </label>
					<input type="text" class="form-control" disabled value={{config.total_user}}>
					<label> Files to Monitor: </label>
					<input type="text" class="form-control" disabled value={{config.files}}>
					<label> Keywords to Check: </label>
					<input type="text" class="form-control" disabled value={{config.keywords}}>
				</div>
			</div>
				<div class="card-body">
					<a class="btn btn-primary" href="{% url 'config-update' config.id %}">Update</a>
					<a class="btn btn-primary" href="{% url 'config-delete' config.id %}">Delete</a>
				</div>
			</div>
		</div>
	  	<blockquote class="blockquote mb-0">
   	    <p></p>
    	</blockquote>
    {% endfor %}
	</div>
{% endblock content%}

